* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 600px;
}
.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #666;
  box-shadow: 2px 2px 4px #666;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

input,
button {
  min-height: 40px;
  padding: 10px 12px;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #444;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
